<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Landing Page</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial scale=1 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <script src="https://kit.fontawesome.com/654c6c5ee6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css" th:href="@{/css/style.css}">
</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/index}">
            <img th:src="@{/img/sparqd.png}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                    <a class="nav-link text-white" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/contact}">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#">Jobs</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-white bg-dark" th:href="@{#}">Link 1</a>
                        <a class="dropdown-item text-white bg-dark" th:href="@{#}">Link 2</a>
                        <a class="dropdown-item text-white bg-dark" th:href="@{#}">Link 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary text-white" th:href="@{/signup}">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>

<!-- Page Content -->
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Hola Vanina!</h1>
        <p class="lead">The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML or with CSS. For best results, use an SVG image as your logo.</p>
        <a class="btn btn-primary btn-lg" th:href="@{/signup}">Get Started</a>
    </div>
</div>

    <span id="year"></span>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        //Get current year for the copyright
        $('#year').text(new Date().getFullYear());

    </script>
</body>
</html>